<div class="content-wrap">
  
    <main id="content" class="content table-padding" role="main">
        <div class="container-fluid">
            <div class="row no-gutter">
                <!-- The image half -->
                <!-- <div class="col-md-6 d-none d-md-flex bg-image"></div> -->
          
          
                <!-- The content half -->
                <div class="col-md-7 bg-dark">
                    <div class="login d-flex py-5" style="padding: 0px !important;">
          
                        <!-- Demo content-->
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-10 col-xl-7 mrg">
                                    <h6 class="display-5">Create New Beneficiary/ Customer</h6>
                                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                        <div class="form-group mb-3">
                                            <label >Name</label>
                                            <input formControlName="beneName" placeholder="Beneficiary/ Customer name" required="" class="form-control rounded-pill">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label >Address</label>
                                            <input formControlName="beneAdrs" placeholder="Ex: street address, City. PIN" required="" class="form-control rounded-pill password password1">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label >Bank Name</label>
                                            <input formControlName="beneBankName" id="password1" type="" placeholder="Ex: 23489234324" required="" class="form-control rounded-pill">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label >Account No</label>
                                            <input formControlName="beneAccNo" id="password1" type="" placeholder="Ex: 23489234324" required="" class="form-control rounded-pill">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label >IBAN</label>
                                            <p class="sl">* Mandatory for remittances to Middle-East countries and Europe</p>
                                            <input formControlName="iban" id="password1" type="" placeholder="Ex: 238923 23423423" required="" class="form-control rounded-pill">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label >Beneficiary’s bank’s (any one) SWIFT code**</label>
                                            <input formControlName="beneBankSwiftCode" type="" placeholder="Ex: 1234566" required="" class="form-control rounded-pill">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label >Beneficiary’s bank’s address including country</label>
                                            <input formControlName="beneBankAdress" id="inputEmail" type="text" placeholder="Ex: street address, City. PIN" required="" class="form-control rounded-pill email">
                                        </div>
                                        
                                        <div class="form-group mb-3">
                                            <label >Intermediary Bank details (if applicable) SWIFT code**</label>
                                            <input formControlName="interBankSwiftCode" placeholder="Ex: CC/OD/PC/PCFC/EBRD/BP/EEFC-USD/EUR/GBP/CHF/JPY ETC" required="" class="form-control rounded-pill">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label >Intermediary Bank Name (if any)</label>
                                            <input formControlName="interBankName" id="inputEmail" type="text" placeholder="Ex: Western union" required="" class="form-control rounded-pill">
                                        </div>
          
                                        <div class="form-group mb-3">
                                            <label >Sort Code</label>
                                            <input formControlName="sortCode" placeholder="Ex: ESEIEC." required="" class="form-control rounded-pill">
                                        </div>
                                        
                                        <button type="submit" class="btn">Create</button>
                                    </form>
                                   
                                </div>
                            </div> 
                        </div><!-- End -->
          
                    </div>
                </div>
          
            </div>
          </div>
    </main>
    
   
</div>