/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
* {
  font-family: "Nunito Sans", sans-serif;
}

.login,
.image {
  min-height: 100vh;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 1px 1px 1px 300px;
}

.image2 {
  position: absolute;
  top: 40%;
  left: 25%;
}

input {
  box-shadow: none !important;
  border: 1px solid #DEDEDE;
}

.mrg {
  margin-left: 90px;
  margin-right: 90px;
}

.display-5 {
  width: 422px;
  font-weight: 700;
  color: #606670;
  font-size: 32px;
  border-bottom: 4px solid #49A2D7;
  padding-bottom: 10px;
}

.bg-dark {
  background-color: white !important;
}

form {
  width: 432px !important;
}

::-moz-placeholder {
  font-size: 12px;
  color: #A5AAB3 !important;
}

:-ms-input-placeholder {
  font-size: 12px;
  color: #A5AAB3 !important;
}

::placeholder {
  font-size: 12px;
  color: #A5AAB3 !important;
}

.sl {
  font-size: 12px;
  color: #A5AAB3 !important;
}

input {
  box-shadow: none !important;
  border: 1px solid #DEDEDE;
}

.side1 {
  margin-bottom: 30px;
  color: #606670;
  font-size: 16px;
  font-weight: 700;
}

label {
  color: #606670;
  font-size: 14px;
  font-weight: 700;
}

.btn {
  width: 160px;
  height: 40px;
  border-radius: 20px;
  background-color: #51AEE5;
  font-size: 12px;
  color: #ffffff;
  margin-left: 20px;
}

.customfile1 {
  content: "Choose File";
  border: none !important;
  outline: none !important;
  color: transparent;
  height: 52px;
  width: 138px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px -2px #D5D7DD !important;
  border-radius: 8px;
  text-align: center;
  align-items: center;
}

.customfile1::-webkit-file-upload-button {
  visibility: hidden;
}

.customfile1::-moz-placeholder {
  font-family: "Poppins", sans-serif !important;
  color: #606670 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.customfile1:-ms-input-placeholder {
  font-family: "Poppins", sans-serif !important;
  color: #606670 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.customfile1::placeholder {
  font-family: "Poppins", sans-serif !important;
  color: #606670 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.customfile1::before {
  content: "Choose File";
  display: inline-block;
  color: #606670;
  height: 30px;
  width: 138px;
  margin-top: 12px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-align: center;
  align-items: center;
  vertical-align: center;
}

.customfile1:hover::before {
  border-color: black;
}

.customfile1:active {
  outline: 0;
}

.customfile1:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.bottomText {
  font-family: "Poppins", sans-serif;
  margin-left: 5px;
  font-size: 14px;
  color: #A5AAB3;
  font-weight: 300;
}

.choose {
  font-family: "Poppins", sans-serif;
  color: #606670;
  font-size: 16px;
  font-weight: 400;
  margin-top: -37px;
  margin-left: 25px;
}

.bankClass {
  padding: 10px;
  border: 1px solid #9c9b9b;
  border-radius: 20px;
  margin-bottom: 5px;
}

.bank {
  font-size: 12px;
}

.add {
  color: white;
  background: #3b3b3b;
  outline: none;
  border: none;
  cursor: pointer;
}

tr {
  cursor: pointer;
}/*# sourceMappingURL=edit-company.component.css.map */