span.cls_002 {
    font-family: Arial, serif;
    font-size: 6.5px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_002 {
    font-family: Arial, serif;
    font-size: 6.5px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_003 {
    font-family: Arial, serif;
    font-size: 16.0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_003 {
    font-family: Arial, serif;
    font-size: 16.0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_005 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_005 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_004 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_004 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}
