<div class="content-wrap">
<main id="content" class="content" role="main">
  <div style="
            display: flex;
            flex-direction: rows;
            justify-content: space-between;
            align-items: center;">
    <!-- *ngIf="!showInvoice" -->
    <div style="display: flex; align-items: center">
      <h3 class="heading">Import Insurance Documents</h3>
      <!-- {{doc}} -->
    </div>

    <div>
      Date:
      <select name="subject" id="subject"
              style="border: 1px solid #C6CBD4;color: black;padding: 4px;font-weight: 100;margin-right: 5px;font-size: 14px;">
        <option value="" selected="selected">Today</option>
      </select> Type:
      <select name="topic" id="topic"
              style="border: 1px solid #C6CBD4;color: black;padding: 4px;font-weight: 100;margin-right: 5px;font-size: 14px;">
        <option value="" selected="selected">All</option>
      </select>
    </div>
    <div>
      <button (click)="exportToExcel()" style=" color: #ffffff !important; font-weight: 100 ; font-family: Poppins ,sans-serif; padding: 5px 8px; font-size: 14px;
                      background-color: #49A2D7;
                      border: none;
                      border-radius: 5px;">Export To Excel
      </button>
      <button class="upload-button" (click)="newInsurance()">
        Upload New
      </button>
    </div>
  </div>


  <div class="analytics">
    <div style="width: 100%" class="analytics-side" #insurance>
      <!-- *ngIf="!showInvoice" -->
      <div style="width: 100%" class="row">
        <div class="col-12 mb-lg padding" id="container">
          <!-- *ngIf="!showInvoice" -->
          <section style="width: 150%;" class="pb-0 box-shadow">
            <div style="height: 638px;" class="widget-body p-0 support table-wrapper">
              <table
                class="table table-striped mb-0">
                <!-- *ngIf='pipo' -->
                <thead style="width: 100%;height: 54px;background: white;position: sticky;top: 0;">
                <tr class="text-muted table-heading"
                    style="opacity: 45%; font-size: 14px; color:black !important; font-weight: 300 !important; padding: 5px; border-bottom: 1px solid #f2f4f8;">
                  <!-- <th class="rect">
                    <img src="./assets/Rectangle-13.png" />
                </th> -->
                  <th scope="col"><span class="pl-3">DATE</span></th>
                  <th scope="col">PI/PO No.</th>
                  <th scope="col">Insurance No.</th>
                  <th scope="col">Insurance Amount</th>
                  <th scope="col">Currency</th>
                  <th scope="col">Buyer Name</th>
                  <th scope="col">Insurance Doc</th>
                  <th scope="col"></th>

                </tr>
                </thead>
                <tbody class="text-dark" *ngFor="let data of item1; let i = index">
                <tr class="table-row">

                  <td style="padding: 20px 35px;">{{ data.date }}</td>

                  <td class="sb-no"> {{ getPipoNumbers(data) }} </td>
                  <td>
                    <div *ngIf="!optionsVisibility[i]">
                      {{data.insuranceNumber}}
                    </div>

                    <div *ngIf="optionsVisibility[i]">
                      <input class="tblInput form-control" name="insuranceNumber" type="text"
                             placeholder="Insurance Document Number" [(ngModel)]="data.insuranceNumber">
                    </div>
                  </td>
                  <td>
                    <div *ngIf="!optionsVisibility[i]">
                      {{data.insuranceAmount}}
                    </div>

                    <div *ngIf="optionsVisibility[i]">
                      <input class="tblInput form-control" name="insuranceAmount" type="text"
                             placeholder="Insurance Amount" [(ngModel)]="data.insuranceAmount">
                    </div>
                  </td>
                  <td>
                    <div *ngIf="!optionsVisibility[i]">
                      {{data.currency}}
                    </div>

                    <div *ngIf="optionsVisibility[i]">
                      <input class="tblInput form-control" name="currency" type="text" placeholder="Currency"
                             [(ngModel)]="data.currency">
                    </div>
                  </td>
                  <td>{{data.buyerName}}</td>
                  <td (click)=" openInsuranceDoc(content); viewID(data)">
                    view
                  </td>
                  <td>
                    <button class="savBtn" *ngIf="optionsVisibility[i]" (click)="toSave(data, i)">Save</button>
                    <button class="savBtn" *ngIf="!optionsVisibility[i]" (click)="toEdit(i)">Edit</button>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-modal>

    <div class="modal-body">
      <div class="row no-gutter">
        <!-- The image half -->
        <!-- <div class="col-md-6 d-none d-md-flex bg-image"></div> -->


        <!-- The content half -->
        <div class="col-md-7" style="margin: 10px;">
          <div class="login d-flex py-5" style="padding: 0px !important;">

            <!-- Demo content-->
            <div class="container popup">
              <div class="row">
                <div class="col-lg-10 col-xl-7 mrg">
                  <h6 class="display-6">Insurance Document</h6>

                  <iframe [src]="viewData" width="315%" height="500px"></iframe>
                  <button type="submit" style="margin-left: 250px;" class="submitBTN"
                          (click)="modal.dismiss('Cross click')">OK
                  </button>

                </div>
              </div>
            </div>
            <!-- End -->

          </div>
        </div>

      </div>
    </div>

  </ng-template>
</main>
</div>
