<div class="content_top_common">
    <div class="content-wrap">
        <div class="container-fluid">
            <div class="import_export_sec">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="Dashbord_sec">
                            <h2 class="title_dash">PI PO details</h2>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="float_right_page">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a routerLink="/home/view-pipo">Add new PI PO</a></li>
                                    <li class="breadcrumb-item"><a routerLink="home/pipo-new">PI PO</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Add new</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_white_background">
                <main id="content" class="table-padding" role="main">
                    <div class="new_document_list">
                        <div class="new_document_list_add_data">
                            <div class="row">
                                <div class="col-md-9">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="ADbill" class="form-label">Buyer's name</label>
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>New Credit Note</option>
                                                    <option value="1">AmazonO</option>
                                                    <option value="2">Swigge</option>
                                                    <option value="3">Amazon</option>
                                                    <option value="3">Amazon</option>
                                                  </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="ADbill" class="form-label">Choose commodity</label>
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>New Credit Note</option>
                                                    <option value="1">Apple</option>
                                                    <option value="2">Apple</option>
                                                    <option value="3">Apple</option>
                                                    <option value="3">Apple</option>
                                                  </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <b>Upload documents</b>
                                <label>Select the type of document</label>
                                <select class="form-select" aria-label="Default select example">
                                <option selected>New Credit Note</option>
                                <option value="1">New PI/PO</option>
                                <option value="2">New Debit Note</option>
                                <option value="3">New Insurance Document</option>
                                <option value="3">New Letter of Credit</option>
                              </select>
                            </div>
                        </div>
                        <div class="file_uploade">
                            <img src="assets/new-img/file_add.png" alt="" />
                        </div>

                        <div class="data_table_new">
                            <div class="row">
                                <div class="col-md-7 col-sm-12 col-xs-12 col-12">
                                    <div class="pdf_invoce">
                                        <h2 class="payment_title">Payment terms</h2>
                                        <div class="pdf_invoce_scroll">
                                            <img src="assets/new-img/pdf_inn.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-12 col-xs-12 col-12">
                                    <div class="left_edit_form">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12 col-12">
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1" class="form-label">Buyer's name</label>
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option selected>Open this select menu</option>
                                                            <option value="1">Amazon</option>
                                                            <option value="2">Amazon</option>
                                                            <option value="3">Amazon</option>
                                                          </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 col-12">
                                                    <div class="mb-3">
                                                        <label for="exampleInputPassword1" class="form-label">Choose commodity</label>
                                                        <select class="form-select" aria-label="Default select example">
                                                            <option selected>Open this select menu</option>
                                                            <option value="1">Amazon</option>
                                                            <option value="2">Amazon</option>
                                                            <option value="3">Amazon</option>
                                                          </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 col-xs-12 col-12">
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1" class="form-label">PI/PO number *</label>
                                                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12 col-12">
                                                    <div class="mb-3">
                                                        <label for="exampleInputPassword1" class="form-label">Invoice Date</label>
                                                        <input class="form-select form-control" type="date" placeholder="Start Date" [(ngModel)]="startDate" required/>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12 col-12">
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1" class="form-label">Invoice amount</label>
                                                        <input type="number" class="form-control" id="quantity3" class="form-control" name="quantity3" min="1" max="5">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 col-xs-12 col-12">
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1" class="form-label">Invoice amount</label>
                                                        <input type="number" class="form-control" id="quantity2" class="form-control" name="quantity2" min="1" max="5">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12 col-12">
                                                    <div class="mb-3">
                                                        <label for="exampleInputPassword1" class="form-label">Incoterm</label>
                                                        <input type="text" class="form-control" id="Incoterm">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12 col-12">
                                                    <div class="mb-3">
                                                        <label for="exampleInputEmail1" class="form-label">Branch</label>
                                                        <input type="text" class="form-control" id="Branch" aria-describedby="emailHelp">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4 col-xs-12 col-12">
                                                    <div class="mb-3">
                                                        <label for="exampleInputPassword1" class="form-label">Last date of shipment</label>
                                                        <input class="form-select form-control" type="date" placeholder="Start Date" [(ngModel)]="startDate" required/>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12 col-12">
                                                    <div class="mb-3">
                                                        <label for="exampleInputPassword1" class="form-label">PC reference number</label>
                                                        <input type="number" id="quantity" class="form-control" name="quantity" min="1" max="5">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12 col-12">
                                                    <div class="mb-3">
                                                        <label for="exampleInputPassword1" class="form-label">Due date</label>
                                                        <input class="form-select form-control" type="date" placeholder="Start Date" [(ngModel)]="startDate" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="add_payment_terms">
                                                <h2 class="payment_title">Payment terms</h2>
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-xs-12 col-12">
                                                        <div class="mb-3">
                                                            <label for="exampleInputPassword1" class="form-label">Last date of shipment</label>
                                                            <input class="form-select form-control" type="date" placeholder="Start Date" [(ngModel)]="startDate" required/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3 col-xs-12 col-12">
                                                        <div class="mb-3">
                                                            <label for="exampleInputPassword1" class="form-label">PC No</label>
                                                            <input type="number" class="form-control" id="quantity1" class="form-control" name="quantity1" min="1" max="5">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3 col-xs-12 col-12">
                                                        <div class="mb-3">
                                                            <label for="exampleInputPassword1" class="form-label">Due date</label>
                                                            <input class="form-select form-control" type="date" placeholder="Start Date" [(ngModel)]="startDate" required/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 col-xs-12 col-12">
                                                        <div class="right_add_plus">
                                                            <!-- <a href="" class="add_payment">+</a> -->
                                                            <a href="" class="add_payment delet_payment">-</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="add_payment_methode">
                                                    <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add payment term</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="data_submit_righg">
                                    <div class="data_submit">
                                        <button type="button" class="btn btn-secondary">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>