<div class="content-wrap">
  <main id="content" class="content table-padding" role="main" style="margin: 100px 0px 0px 300px;">

    <div>
      <div style="display: flex;">
        <div style="width: 68%;">
          <span style="color: rgb(41 17 139);  font-size: 22px; font-weight: 600;">APPLICATION FOR EXPORT BILL
            COLLECTION C559</span> <br>
          <span style="color: rgb(136, 136, 136); font-size: 18px; font-weight: 500;">(To be completed by the applicant
            in block
            letters)</span>
        </div>
        <div style="text-align: end;">
          <img width="250px" height="80px"
            src="https://seeklogo.com/images/F/federal-bank-logo-270CCA189E-seeklogo.com.png" alt="">
        </div>
      </div>
      <table style="width: 94%;">
        <tr style="border: 1px solid black; font-weight: 500;">
          <td
            style="border: 1px solid black; width: 180px; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
            BRANCH NAME</td>
          <td style="border: 1px solid black; font-weight: 500; width: 50%;" colspan="5"><span
              style="width: 180px; outline: none;" contenteditable="true"></span></td>
          <td
            style="border: 1px solid black; width: 40px; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;"
            colspan="2">SOL
            ID
          </td>
          <td style="border: 1px solid black; width: 40px;"><span style="outline: none;" contenteditable="true"></span>
          </td>
          <td style="border: 1px solid black; width: 40px;"><span style="outline: none;" contenteditable="true"></span>
          </td>
          <td style="border: 1px solid black; width: 40px;"><span style="outline: none;" contenteditable="true"></span>
          </td>
          <td style="border: 1px solid black; width: 40px;"><span style="outline: none;" contenteditable="true"></span>
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500;">
          <td colspan="12" style="border: 1px solid black; width: 80px;  color: rgb(0,31,95); ">
            We have exported the below mentioned commodity/goods and please find the enclosed Draft and commercial
            documents as listed below for lodgement and collection.
          </td>
        </tr>

      </table>
      <table style="width: 94%;">
        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td
            style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500; border-top: none; width: 50%;"
            colspan="3">
            Exporter’s (Drawer) Name &amp; Address
          </td>
          <td
            style="border: 1px solid black;color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500; border-top: none; width: 50%;"
            colspan="9">
            Buyer’s (Drawee) Name &amp; Address
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500;">
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95);" colspan="3">
            ANAPPADIKKAL TRADING COMPANY PVT LTD
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95);" colspan="9">
            M/S. GRAND MALL W.L.L
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95);">
          <td style="border: 1px solid black; font-weight: 500;" colspan="3">
            1/24 B PALLATHUKADAVIL BUILDING, THURAVUNKARA <br>
            PO
          </td>
          <td style="border: 1px solid black; font-weight: 500;" colspan="9">
            P.O. BOX: 40465
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95);">
          <td style="border: 1px solid black; font-weight: 500;" colspan="3">
            KOCHIN, KERALA – 683575
          </td>
          <td style="border: 1px solid black; font-weight: 500;" colspan="9">
            DOHA,QATAR
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95);">
          <td style="border: 1px solid black; font-weight: 500;" colspan="3">
            <span style="outline: none;" contenteditable="true"> &nbsp;</span>
          </td>
          <td style="border: 1px solid black; font-weight: 500;" colspan="9">
            <span style="outline: none;" contenteditable="true"> &nbsp;</span>
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95);">
          <td style="border: 1px solid black; font-weight: 500;" colspan="3">
            <span style="outline: none;" contenteditable="true"> &nbsp;</span>
          </td>
          <td style="border: 1px solid black; font-weight: 500;" colspan="9">
            <span style="outline: none;" contenteditable="true"> &nbsp;</span>
          </td>
        </tr>
      </table>
      <table style="width: 94%;">
        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td style="border: 1px solid black; color: rgb(0,31,95); font-weight: 500; border-top: none; width: 33.3%;">
            Collection (FOBC)
          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95);font-weight: 500; border-top: none; width: 33.3%;">
            Direct Bills (Star Export <br>
            House/SEZ/EOUs) FOBC
          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95);  font-weight: 500; border-top: none; width: 33.3%;">
            Free Delivery Bills against <br>
            100% advance (FOBCD)
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none; ">
          <td
            style="border: 1px solid black; color: rgb(0,31,95); font-weight: 500; border-top: none; width: 33.3%; background-color: rgb(219,228,240);"
            rowspan="6">
            Drawee Bank Details
          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95);font-weight: 500; border-top: none; width: 33.3%;"
            colspan="2">
            <span style="outline: none;" contenteditable="true">&nbsp;</span>
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none; ">

          <td style="border: 1px solid black;color: rgb(0,31,95);font-weight: 500; border-top: none; width: 33.3%;"
            colspan="2">
            <span style="outline: none;" contenteditable="true">&nbsp;</span>
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none; ">

          <td style="border: 1px solid black;color: rgb(0,31,95);font-weight: 500; border-top: none; width: 33.3%;"
            colspan="2">
            <span style="outline: none;" contenteditable="true">&nbsp;</span>
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none; ">

          <td style="border: 1px solid black;color: rgb(0,31,95);font-weight: 500; border-top: none; width: 33.3%;"
            colspan="2">
            <span style="outline: none;" contenteditable="true">&nbsp;</span>
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none; ">

          <td style="border: 1px solid black;color: rgb(0,31,95);font-weight: 500; border-top: none; width: 33.3%;"
            colspan="2">
            <span style="outline: none;" contenteditable="true">&nbsp;</span>
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none; ">

          <td style="border: 1px solid black;color: rgb(0,31,95);font-weight: 500; border-top: none; width: 33.3%;"
            colspan="2">
            <span style="outline: none;" contenteditable="true">&nbsp;</span>
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none; ">

          <td
            style="border: 1px solid black; color: rgb(0,31,95); font-weight: 500; border-top: none; width: 33.3%; background-color: rgb(219,228,240);">
            If presentation is under LC
          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95);font-weight: 500; border-top: none; width: 33.3%;">
            Original LC/Amendments <br>

            enclosed
          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95);font-weight: 500; border-top: none; width: 33.3%;">
            Order Bill (Export Order <br>
            enclosed)
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none; ">

          <td
            style="border: 1px solid black; color: rgb(0,31,95); font-weight: 500; border-top: none; width: 33.3%; background-color: rgb(219,228,240);">
            Letter of Credit Number
          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95);font-weight: 500; border-top: none; width: 33.3%;"
            colspan="2">

          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none; ">

          <td
            style="border: 1px solid black; color: rgb(0,31,95); font-weight: 500; border-top: none; width: 33.3%; background-color: rgb(219,228,240);">
            Issuing Bank
          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95);font-weight: 500; border-top: none; width: 33.3%;"
            colspan="2">

          </td>
        </tr>
      </table>
      <table style="width: 94%;">
        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td
            style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500; border-top: none;"
            colspan="2">
            Advance remittance if any received
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;">
            Full
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;">
            Part
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td
            style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500; border-top: none;">
            FIRX No /
            e-FIRC No
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;">

          </td>
          <td
            style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%; background-color: rgb(219,228,240); ">
            Date
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;">
            17.12.2021 to 27.12.2021
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td
            style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500; border-top: none;">
            Currency
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;">

          </td>
          <td
            style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%; background-color: rgb(219,228,240);">
            Amount
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;">

          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td
            style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%; background-color: rgb(238,236,225);"
            colspan="4">BILL DETAILS</td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td
            style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500; border-top: none;">
            Bill Currency
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;">

          </td>
          <td
            style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%; background-color: rgb(219,228,240);"
            rowspan="2">
            Bill amount (in <br>
            words)
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;" rowspan="2">

          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td
            style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500; border-top: none;">
            Bill Amount
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;">

          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td
            style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500; border-top: none;">
            Terms of Payment
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;">
            SIGHT
          </td>
          <td
            style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%; background-color: rgb(219,228,240);">
            USANCE
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;">
            _______days <br>
            from_____________________
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td
            style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500; border-top: none;">
            Description of <br>
            goods/service
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;">

          </td>
          <td
            style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%; background-color: rgb(219,228,240);">
            HS Code
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;">

          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td
            style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500; border-top: none;">
            Port of Loading
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;">

          </td>
          <td
            style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%; background-color: rgb(219,228,240);">
            Destination Port
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;">

          </td>
        </tr>

        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td
            style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500; border-top: none;"
            colspan="2">
            Bill of Lading/Air Consignment Number/
            Transport Document Number
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;" colspan="2">

          </td>
        </tr>

        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td
            style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500; border-top: none;"
            colspan="2">
            Shipping Bill / EDF Number
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;" colspan="2">

          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td
            style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500; border-top: none;">
            Port Code
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;">

          </td>
          <td
            style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%; background-color: rgb(219,228,240);">
            Date
          </td>
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95); width: 25%;">
            17.12.2021 to 27.12.2021
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td style="border: 1px solid black; font-weight: 500; color: rgb(0,31,95);" colspan="4">Documents attached
            (Number of Documents) 12 Nos</td>
        </tr>

      </table>
      <table style="width: 94%;">
        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td
            style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(238,236,225); font-weight: 500; border-top: none;">
            Documents
          </td>
          <td
            style="border: 1px solid black;color: rgb(0,31,95); background-color: rgb(238,236,225); font-weight: 500; border-top: none;">
            Bill of <br>
            Exchange/ <br>
            Draft
          </td>
          <td
            style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(238,236,225); font-weight: 500; border-top: none;">
            Commercial <br>
            Invoice
          </td>
          <td
            style="border: 1px solid black;color: rgb(0,31,95); background-color: rgb(238,236,225); font-weight: 500; border-top: none;">
            Transport Doc <br>
            (BL/AWB/LR etc)
          </td>
          <td
            style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(238,236,225); font-weight: 500; border-top: none;">
            Packing <br>
            List
          </td>
          <td
            style="border: 1px solid black;color: rgb(0,31,95); background-color: rgb(238,236,225); font-weight: 500; border-top: none;">
            Insurance <br>
            Policy
          </td>
          <td
            style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(238,236,225); font-weight: 500; border-top: none;">
            Cert. of <br>
            Origin
          </td>
          <td
            style="border: 1px solid black;color: rgb(0,31,95); background-color: rgb(238,236,225); font-weight: 500; border-top: none;">
            Test Cert
          </td>
          <td
            style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(238,236,225); font-weight: 500; border-top: none;">
            GR/EDF
          </td>
          <td
            style="border: 1px solid black;color: rgb(0,31,95); background-color: rgb(238,236,225); font-weight: 500; border-top: none;">
            Others
          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td style="border: 1px solid black; color: rgb(0,31,95); font-weight: 500; border-top: none;">
            Original
          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
          <td style="border: 1px solid black; color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
          <td style="border: 1px solid black; color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
          <td style="border: 1px solid black; color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
          <td style="border: 1px solid black; color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
        </tr>
        <tr style="border: 1px solid black; font-weight: 500; border-top: none;">
          <td style="border: 1px solid black; color: rgb(0,31,95); font-weight: 500; border-top: none;">
            Duplicate
          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
          <td style="border: 1px solid black; color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
          <td style="border: 1px solid black; color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
          <td style="border: 1px solid black; color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
          <td style="border: 1px solid black; color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;">

          </td>
        </tr>
        <tr style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;">
          <td colspan="10" style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;">
            I/We authorise you to debit my below mentioned account for your charges
          </td>
        </tr>
      </table>
      <table style="width: 94%;">
        <tr style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;">
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none; width: 100px">
            OD/CC/CA
          </td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;"></td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;"></td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;"></td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;"></td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;"></td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;"></td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;"></td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;"></td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;"></td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;"></td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;"></td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;"></td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;"></td>
          <td style="border: 1px solid black;color: rgb(0,31,95); font-weight: 500; border-top: none;"></td>
        </tr>
      </table>

      <div style="margin-top: 20px; display: flex;">
        <!-- <div style="font-weight: 500; color: rgb(0,31,95); width: 50%;">
          Date 11.11.2021
        </div>
        <div style="font-weight: 500; color: rgb(0,31,95);;">
          Signature of Beneficiary / POA (or) Mandate Holder / <br>
          Guardian in case of Minor / Authorised Signatory <br>
          with Company/Firm’s Seal
        </div> -->

      </div>
    </div>

  </main>
</div>


<!-- <div>
  <div style="display: flex;">
    <div style="width: 68%;">
      <span style="color: rgb(41 17 139);  font-size: 22px; font-weight: 600;">DISPOSAL
        INSTRUCTION FOR <br>
        FOREIGN INWARD REMITTANCE</span> <br>
      <span style="color: rgb(136, 136, 136); font-size: 18px; font-weight: 500;">(To
        be completed by the
        applicant
        in block
        letters)</span>
    </div>
    <div style="text-align: end;">
      <img width="250px" height="80px" src="https://seeklogo.com/images/F/federal-bank-logo-270CCA189E-seeklogo.com.png"
        alt="">
    </div>
  </div>
  <table style="width: 94%;">
    <tr style="border: 1px solid black; font-weight: 500;">
      <td
        style="border: 1px solid black; width: 180px; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
        BRANCH NAME</td>
      <td style="border: 1px solid black; font-weight: 500;" colspan="15"><span style="width: 180px; outline: none;"
          contenteditable="true">KOZHIKODE</span></td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">
      <td
        style="border: 1px solid black; width: 180px; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
        Remittance Type ()</td>
      <td style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;"
        colspan="6">
        <span style="width: 180px; outline: none;" contenteditable="true">
          Advance
          Remittance <br> against Export</span>
      </td>
      <td style="border: 1px solid black; font-weight: 500;" colspan="2">✔</td>
      <td style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;"
        colspan="5">
        Other Inward Remittances <br>
        (Except FCNR B)
      </td>
      <td style="border: 1px solid black; font-weight: 500;" colspan="2"><span style="outline: none;"
          contenteditable="true"></span>
      </td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">
      <td
        style="border: 1px solid black; width: 180px; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
        Beneficiary’s Name</td>
      <td style="border: 1px solid black; font-weight: 500;" colspan="14">
        {{item5.teamName}}</td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">
      <td
        style="border: 1px solid black; width: 180px; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
        Account Number</td>
      <td style="border: 1px solid black; width: 40px;"><span style="outline: none;"
          contenteditable="true">{{charge[0]}}</span>
      </td>
      <td style="border: 1px solid black; width: 40px;"><span style="outline: none;"
          contenteditable="true">{{charge[1]}}</span>
      </td>
      <td style="border: 1px solid black; width: 40px;"><span style="outline: none;"
          contenteditable="true">{{charge[2]}}</span>
      </td>
      <td style="border: 1px solid black; width: 40px;"><span style="outline: none;"
          contenteditable="true">{{charge[3]}}</span>
      </td>
      <td style="border: 1px solid black; width: 40px;"><span style="outline: none;"
          contenteditable="true">{{charge[4]}}</span>
      </td>
      <td style="border: 1px solid black; width: 40px;"><span style="outline: none;"
          contenteditable="true">{{charge[5]}}</span>
      </td>
      <td style="border: 1px solid black; width: 40px;"><span style="outline: none;"
          contenteditable="true">{{charge[6]}}</span>
      </td>
      <td style="border: 1px solid black; width: 40px;"><span style="outline: none;"
          contenteditable="true">{{charge[7]}}</span>
      </td>
      <td style="border: 1px solid black; width: 40px;"><span style="outline: none;"
          contenteditable="true">{{charge[8]}}</span>
      </td>
      <td style="border: 1px solid black; width: 40px;"><span style="outline: none;"
          contenteditable="true">{{charge[9]}}</span>
      </td>
      <td style="border: 1px solid black; width: 40px;"><span style="outline: none;"
          contenteditable="true">{{charge[10]}}</span>
      </td>
      <td style="border: 1px solid black; width: 40px;"><span style="outline: none;"
          contenteditable="true">{{charge[11]}}</span>
      </td>
      <td style="border: 1px solid black; width: 40px;"><span style="outline: none;"
          contenteditable="true">{{charge[12]}}</span>
      </td>
      <td style="border: 1px solid black; width: 40px;"><span style="outline: none;"
          contenteditable="true">{{charge[13]}}</span>
      </td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">
      <td
        style="border: 1px solid black; width: 180px; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;"
        colspan="3">Line of Business <br>
        <span>(Applicable for Trade customers only)</span>
      </td>
      <td style="border: 1px solid black; font-weight: 500;" colspan="3"><span style="outline: none;"
          contenteditable="true">Export</span></td>
      <td style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;"
        colspan="6">
        Commodity/
        Service dealt with <br>
        <span style="outline: none; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;"
          contenteditable="true">(Applicable for Trade customers only)</span>
      </td>
      <td style="border: 1px solid black; font-weight: 500;" colspan="3"></td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">
      <td style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;"
        colspan="15">I/
        We authorize you to credit the foreign Inward Remittance
        received in my/ our favor as per below
        mentioned details:</td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">
      <td style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
        Bill Currency
      </td>
      <td style="border: 1px solid black; font-weight: 500;">USD</td>
      <td style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;"
        rowspan="2" colspan="4">Bill Amount <br>
        (in words)</td>
      <td style="border: 1px solid black; font-weight: 500;" rowspan="2" colspan="9"></td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">
      <td style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
        Bill Amount <br>
        (in figures)</td>
      <td style="border: 1px solid black; font-weight: 500;">65656.55</td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">
      <td style="border: 1px solid black; font-weight: 500;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; font-weight: 500;" colspan="14">M/S.
        REGENCY ENTERPRISES</td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">
      <td style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
        Remitters’
        Address</td>
      <td style="border: 1px solid black; font-weight: 500;" colspan="14">P O BOX
        NO : 40056 <br>
        DOM BUILDING <br>
        AL QUOZ - 4, DUBAI</td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">
      <td style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
        Purpose of <br>
        Remittance</td>
      <td style="border: 1px solid black; font-weight: 500;" colspan="5"> ADVANCE
        AGAINST <br>
        EXPORT</td>
      <td style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;"
        colspan="5">
        Purpose Code</td>
      <td style="border: 1px solid black; font-weight: 500;" colspan="4">P0103
      </td>
    </tr>
  </table>
  <table style="width: 94%;">


    <tr style="border: 1px solid black; font-weight: 500;">
      <td
        style="border: 1px solid black; width: 180px; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;"
        colspan="8">If the remittance represents advance against
        <br>
        exports (P0103), please mention the <br>
        expected date of shipment
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">
      <td style="border: 1px solid black; width: 42px; color: rgb(0,31,95);" colspan="16">Details of accounts for
        crediting the received
        amount</td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">
      <td style="border: 1px solid black; ; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;"
        rowspan="5">
        Conversion <br>
        details (strike <br>
        whichever is <br>
        not applicable)</td>
      <td style="border: 1px solid black; ; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
        Convert 100%
        into INR and
        credit A/c</td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">

      <td style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;"
        rowspan="2">
        Convert % in to INR &amp;
        credit A/c
        Balance % to be
        credited to *EEFC/ RFC/DDA
        A/c</td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">

      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">

      <td style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
        Credit 100% to
        EEFC/RFC/DDA A/c*</td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{credit[0]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{credit[1]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{credit[2]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{credit[3]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{credit[4]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{credit[5]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{credit[6]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{credit[7]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{credit[8]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{credit[9]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{credit[10]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{credit[11]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{credit[12]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{credit[13]}}</span>
      </td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">

      <td style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
        Credit to my
        PCFC A/c</td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">

      <td style="border: 1px solid black; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;"
        colspan="2">
        Details of accounts for debiting the charges <br>
        (if different from above accounts)</td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{charge[0]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{charge[1]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{charge[2]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{charge[3]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{charge[4]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{charge[5]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{charge[6]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{charge[7]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{charge[8]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{charge[9]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{charge[10]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{charge[11]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{charge[12]}}</span>
      </td>
      <td style="border: 1px solid black; width: 42px;"><span style="outline: none;"
          contenteditable="true">{{charge[13]}}</span>
      </td>
    </tr>

  </table>
  <p style="color: rgb(0,31,95); font-weight: 500; width: 94%;">*WE AUTHORISE
    YOU TO CONVERT
    THE UNUTILISED
    PORTION OF CAPTIONED INWARD REMITTANCE CREDITED
    IN OUR EEFC/RFC ACCOUNT IF ANY PART OF IT REMAINS UNUTILISED TILL THE LAST DAY
    OF THE NEXT MONTH
    AT THE BEST POSSIBLE RATE</p>
  <table style="border: 1px solid black; width: 94%;">
    <tr style="border: 1px solid black; font-weight: 500;">
      <td
        style="border: 1px solid black; width: 150px; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
        Forward Contract <br>
        Number</td>
      <td style="border: 1px solid black;  width: 150px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td
        style="border: 1px solid black;  width: 150px; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
        Booking Date</td>
      <td style="border: 1px solid black;  "><span style="outline: none;" contenteditable="true"></span></td>
      <td style="border: 1px solid black; font-weight: 500;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; font-weight: 500;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; font-weight: 500;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; font-weight: 500;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; font-weight: 500;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; font-weight: 500;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; font-weight: 500;"><span style="outline: none;" contenteditable="true"></span>
      </td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">
      <td
        style="border: 1px solid black; width: 150px; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
        Forward Contract <br>
        Number</td>
      <td style="border: 1px solid black;  width: 150px;"></td>
      <td
        style="border: 1px solid black;  width: 150px; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
        Due Date</td>
      <td style="border: 1px solid black;font-weight: 500;"></td>
      <td style="border: 1px solid black; font-weight: 500;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; font-weight: 500;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; font-weight: 500;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; font-weight: 500;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; font-weight: 500;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; font-weight: 500;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td style="border: 1px solid black; font-weight: 500;"><span style="outline: none;" contenteditable="true"></span>
      </td>
    </tr>
    <tr style="border: 1px solid black; font-weight: 500;">
      <td
        style="border: 1px solid black; width: 150px; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
        Amount to be utilized</td>
      <td style="border: 1px solid black; width: 150px;"><span style="outline: none;" contenteditable="true"></span>
      </td>
      <td
        style="border: 1px solid black; width: 150px; color: rgb(0,31,95); background-color: rgb(219,228,240); font-weight: 500;">
        Exchange rate as per
        FWC</td>
      <td style="border: 1px solid black; font-weight: 500;" colspan="8"><span style="outline: none;"
          contenteditable="true"></span>
      </td>
    </tr>
  </table>
  <div style="margin-top: 20px; display: flex;">
    <div style="font-weight: 500; color: rgb(0,31,95); width: 50%;">
      Date 11.11.2021
    </div>
    <div style="font-weight: 500; color: rgb(0,31,95);;">
      Signature of Beneficiary / POA (or) Mandate Holder / <br>
      Guardian in case of Minor / Authorised Signatory <br>
      with Company/Firm’s Seal
    </div>

  </div>
</div> -->