<div class="content-wrap">
    <main id="content" class="content table-padding bc" role="main">
      
      
      <div id="mainId" class="bc" *ngIf="!done">
        <div >
            <div style="text-align: center">
                <br />
              <b><span style="border-bottom: 1px solid black;"> Request letter for Trade Credit</span></b> 
            </div>
          <div  class="pdf_heading" >
            
            <img src="{{letterHead}}" height="100px" width="100%" >
          </div>
          <div style="text-align: right">
            Date: <span
            style="
            outline: none;
              display: inline-block;
              width: 160px;
              border-bottom: 1px solid black;
            "
            contenteditable="true"
          ></span>
          </div>
          <p style="display: table; width: 240px; margin-top: -15px;">
            
            To, <br />
            The Manager <br>
            Yes Bank Ltd,<br>
            Branch address
            <br />
            <span
              style="
              outline: none;
                display: inline-block;
                width: 160px;
                border-bottom: 1px solid black;
              "
              contenteditable="true"
            ></span>
            
          </p>
  
          <br />
          <div>
            
            
            <div>
              <p>Dear Sir/Madam,</p>
            </div>
            <br />
            <br>
            <div>
                We request you to please arrange Trade Credit (Buyer’s credit/Supplier’s credit) as per below details:
                <table>
                    <tr>
                      <td class="wtd4">
                        (1) <br>
                        LC Reference <br>
                        (if <br>
                        applicable)
                      </td>
                      <td class="wtd4">
                        (1) <br>
                        Bill Reference <br>
                        (if <br>
                        applicable)
                      </td>
                      <td class="wtd4">
                        (3) <br>
                        Beneficiary
                      </td>
                      <td class="wtd4">(4) <br>Currency</td>
                      <td class="wtd4">
                        (5) <br />
                         Amount
                      </td>
                      <td class="wtd4">
                        (6) <br />
                        Draw <br>
                        down date
                      </td>
                      <td class="wtd4">(7) Tenor <br>(In days)</td>
                      <td class="wtd4">(8) Goods discription</td>
                    </tr>
                    <tr>
                      <td class="wtd1"><p
                          style="
                          display: inline-block;
                          outline: none;
                          width: 100px;
                          height: 20px;
                          margin-bottom: 0px;
                          "
                          contenteditable="true"
                          > 
                        </p></td>
                        <td class="wtd1"><p
                            style="
                            display: inline-block;
                            outline: none;
                            width: 100px;
                            height: 20px;
                            margin-bottom: 0px;
                            "
                            contenteditable="true"
                            > 
                          </p></td>
                          <td class="wtd1"><p
                            style="
                            display: inline-block;
                            outline: none;
                            width: 100px;
                            height: 20px;
                            margin-bottom: 0px;
                            "
                            contenteditable="true"
                            > 
                          </p></td>
                          <td class="wtd1"><p
                            style="
                            display: inline-block;
                            outline: none;
                            width: 100px;
                            height: 20px;
                            margin-bottom: 0px;
                            "
                            contenteditable="true"
                            > 
                          </p></td>
                          <td class="wtd1"><p
                            style="
                            display: inline-block;
                            outline: none;
                            width: 100px;
                            height: 20px;
                            margin-bottom: 0px;
                            "
                            contenteditable="true"
                            > 
                          </p></td>
                          <td class="wtd1"><p
                            style="
                            display: inline-block;
                            outline: none;
                            width: 100px;
                            height: 20px;
                            margin-bottom: 0px;
                            "
                            contenteditable="true"
                            > 
                          </p></td>
                          <td class="wtd1"><p
                            style="
                            display: inline-block;
                            outline: none;
                            width: 100px;
                            height: 20px;
                            margin-bottom: 0px;
                            "
                            contenteditable="true"
                            > 
                          </p></td>
                          <td class="wtd1"><p
                            style="
                            display: inline-block;
                            outline: none;
                            width: 100px;
                            height: 20px;
                            margin-bottom: 0px;
                            "
                            contenteditable="true"
                            > 
                          </p></td>
                    </tr>
                  </table>

            </div>
            <div>
              <p>We are providing below details for underlying transaction required for you to process the transaction (tick where
                applicable):</p> 
              <p>
                <input type="checkbox" name="" id="" style="height: 20px; width: 20px;">
                Is this under YES Bank LC / collection, if yes then please enclose acceptance under LC /Collection bill. In case this
                is not already submitted and please fill details as required from 1-8 above as applicable. <br>
                <input type="checkbox" name="" id="" style="height: 20px; width: 20px;"> Is this direct remittance to be handled by YES Bank, if yes then please enclose copies of Invoices, BL/AWB, FEMA
                declaration, OGL declaration & evidence of imports and please fill details as required from 3-8 <br>
                <input type="checkbox" name="" id="" style="height: 20px; width: 20px;"> Is this bill handled by other Bank? If yes, then please enclose NOC from transaction handling bank undertaking to
                complete FEMA regulations related to the documents handled, copies of BL/AWB, invoices and please fill details as
                required from 1-8 as applicable. <br> 
                <input type="checkbox" name="" id="" style="height: 20px; width: 20px;"> In case buyer’s credit is arranged by the customer, offer letter from eligible lender quoting regulatory acceptable
                quote would be required and please fill details as required from 1-8 as applicable. <br> <br>
                We authorize you to please debit our a/c no. <span
                style="
                display: inline-block;
                outline: none;
                width: 200px;
                height: 20px;
                margin-bottom: 0px;
                "
                contenteditable="true"
                > 
              </span>towards your charges (including overdue
                charges in case of delayed funding) and overseas bank interest/charges & principal amount on the due date and also
                undertake to provide a Forms 15 CA and CB at the time of remitting interest amount to overseas entity. <br> <br>
                We further confirm that all details provided are true & correct to the best of our knowledge & this transaction is within the
                regulatory guidelines prevailing at the time of arrangement.  <br> <br>

                <b>Declaration:</b> <br>
                I/we also declare that the transaction does not have linkage with any Specially Designated Nationals and
                Blocked Persons (SDN)/countries listed under OFAC in any manner. If the transaction involves linkage with
                any Specially Designated Nationals and Blocked Persons (SDN)/countries listed under OFAC in any manner,<br>
                I/we undertake not to hold YES Bank Limited responsible for any of its action or inaction in respect of the
                OFAC-linked transactions.
              </p>
              <b> Note </b> – Default GST registration details as updated in the Bank records will be considered for the said request.
                In case the no. to be considered is different, please notify below.
                <p style="margin-bottom: 0px;">
                    GSTIN Registration no.
                </p>
                <table>
                    <tr>
                    <td class="gst"><span style="outline: none;display: inline-block;width: 20px;"contenteditable="true">{{arr[0]}}</span></td>
                    <td class="gst"><span style="outline: none;display: inline-block;width: 20px;"contenteditable="true">{{arr[1]}}</span></td> 
                    <td class="gst"><span style="outline: none;display: inline-block;width: 20px;"contenteditable="true">{{arr[2]}}</span></td>
                    <td class="gst"><span style="outline: none;display: inline-block;width: 20px;"contenteditable="true">{{arr[3]}}</span></td>
                    <td class="gst"><span style="outline: none;display: inline-block;width: 20px;"contenteditable="true">{{arr[4]}}</span></td> 
                    <td class="gst"><span style="outline: none;display: inline-block;width: 20px;"contenteditable="true">{{arr[5]}}</span></td>
                    <td class="gst"><span style="outline: none;display: inline-block;width: 20px;"contenteditable="true">{{arr[6]}}</span></td>
                    <td class="gst"><span style="outline: none;display: inline-block;width: 20px;"contenteditable="true">{{arr[7]}}</span></td> 
                    <td class="gst"><span style="outline: none;display: inline-block;width: 20px;"contenteditable="true">{{arr[8]}}</span></td>
                    <td class="gst"><span style="outline: none;display: inline-block;width: 20px;"contenteditable="true">{{arr[9]}}</span></td>
                    <td class="gst"><span style="outline: none;display: inline-block;width: 20px;"contenteditable="true">{{arr[10]}}</span></td> 
                    <td class="gst"><span style="outline: none;display: inline-block;width: 20px;"contenteditable="true">{{arr[11]}}</span></td>
                    <td class="gst"><span style="outline: none;display: inline-block;width: 20px;"contenteditable="true">{{arr[12]}}</span></td>
                    <td class="gst"><span style="outline: none;display: inline-block;width: 20px;"contenteditable="true">{{arr[13]}}</span></td> 
                    <td class="gst"><span style="outline: none;display: inline-block;width: 20px;"contenteditable="true">{{arr[14]}}</span></td>
                    </tr> 
                </table> <br> <br>
                <b>Enclosures:</b>
                <p>1. Form TC. (Applicable for all categories of underlying transaction) <br>
                    2. Copies of Invoices, BL/AWB, FEMA declaration, OGL declaration & evidence of imports. (Applicable for category 2) <br>
                    3. NOC from transaction handling bank, copies of BL/AWB, invoices. (Applicable for category 3) <br>
                4. Offer Letter from overseas lender along with other applicable documents (applicable for category 4).</p>
            </div>
            
            <div>
                <div >
                    <p >
                        Thanking you. <br />
                        Authorized Signatory, <br />
                        Company Stamp / Seal
                      </p>
                    Date: <span
                    style="
                    outline: none;
                        display: inline-block;
                        width: 160px;
                        border-bottom: 1px solid black;
                    "
                    contenteditable="true"
                    ></span> <br>
                    Place: <span
                    style="
                    outline: none;
                        display: inline-block;
                        width: 160px;
                        border-bottom: 1px solid black;
                    "
                    contenteditable="true"
                    ></span>
                </div>
                <div>
                    <p>Guidelines / Checklist:</p>
                    <p>
                        1. Request letter to be signed by authorized signatory of the company. <br>
                        2. Ensure that all applicable columns are filled in the request letter and form TC. <br>
                        3. Trade credit applications would be processed subject to availability of limits & funds required for processing charges. <br>
                        4. Trade credit can be availed for maximum of 1 year in case of non-capital goods and not exceeding 3 years for capital
                            goods from the date of shipment. <br>
                        5. All-in-cost ceiling should not exceed RBI cap. Thus ensure interest and other charges mentioned in the lending bank
                            quote are within RBI cap. <br>
                        6. Trade credit can be arranged for goods imported directly into India hence it cannot be arranged for Merchanting trade,
                            advance remittances and trade pertaining to services. <br>
                        7. Letter of undertaking can be issued only in favor of overseas lender. <br>
                        8. Trade credit can be arranged for maximum USD 20 million per shipment. <br>
                        9. Please ensure trade credit is taken prior to the due date of the bill. ( at least 2-3 days before) <br>
                        10. Trade credit drawdown has to be for credit to YES Bank Ltd Nostro account for further payment to beneficiary.
                    </p>
                </div>
             
            </div>
          </div>
        </div>
      </div>
      <br> <br>
      <div *ngIf="!done"
        style="
          float: left;
          display: block;
          width: 78%;
          margin-top: 40px;
          margin-left: 43px;
        "
        >
        <div class="button1" title="Share As PDF" (click)="exportAsPDF('MyDIv')">Proceed to Preview</div>
      </div>
  
      
      <div *ngIf="done">
        <p>Setup: 3 Preview</p>
        <button class="button1" style="margin-right: 10px;" (click)="downloadPDF()">Download</button>
        <button class="button1" style="margin-bottom: 40px;">Send it via Email</button>
        <div>
          <iframe [src]="data6" height="500px" width="400px"></iframe>
        </div><br>
        <button class="button1" style="margin-right: 10px;" (click)="edit()" >Edit</button>
        <button class="button1" style="margin-right: 10px;" (click)="submitTask()">Done</button>
        
      </div>
      
    </main>
</div>