<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <!-- <div class="col-md-6 d-none d-md-flex bg-image"></div> -->
  
  
        <!-- The content half -->
        <div class="col-md-7 bg-dark">
            <div class="login d-flex py-5">
  
                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 cx">
                            <h6 class="display-5">Start with a team </h6>
                            <div class="gt1" style="border: 1px solid rgb(255, 255, 255);">
                                <div class="ft2"></div>
                                <div class="ft1">
                                    <h5 class="head1">Find your team in DocMachine</h5>
                                    <p class="sidehead1">Join or Sign in to existing teams</p>
                                </div>
                                  
                            </div>
                            <div class="gt2" style="border-bottom: 1px solid rgba(0,0,0,0.1);">
                                <div class="ft2"></div>
                                <div class="ft1">
                                    <h5 class="head1" [routerLink]="['/createTeam1']">Create a new Team</h5>
                                    <p class="sidehead1">Get your company or organization on DocMachine</p>
                                </div>
                                  
                            </div>
                            <div class="gt3" style="border-bottom: 1px solid rgba(0,0,0,0.1);">
                                <!-- <div class="ft2"></div>
                                <div class="ft1">
                                    <h5 class="head1">Create a new Team</h5>
                                    <p class="sidehead1">Get your company or organization on DocMachine</p>
                                </div> -->
                                  
                            </div>
                        </div>
                    </div> 
                </div><!-- End -->
  
            </div>
        </div><!-- End -->
        <!-- The image half -->
        <div class="col-md-5 d-none d-md-flex bg-image"></div>
  
    </div>
  </div>