<div class="content-wrap">
  <main id="content" class="content table-padding bc" role="main">
    <div id="mainId" class="bc">
      <div id="first" class="bc">
        <div style="margin-left: 80px">
          <p class="heading" style="margin-bottom: 0px !important">
            Request letter for Submission of Export documents against advance
            remittance received for release of EDF/ <br />
          </p>
          <p class="heading" style="width: 221px; margin-left: 28%">
            Shipping Bill/ SOFTEX form.
          </p>
        </div>
        <div style="margin-left: 40px; margin-top: 20px; width: 70%" class="bc">
          <div style="float: right; width: 80%; text-align: right">
            Date: <input type="text" />
          </div>
          <div style="float: left; width: 80%; margin-top: -20px">
            To, <br />
            The Manager <br />
            YES Bank Ltd., <br />
            Branch address
          </div>
          <input class="ind" type="text" />
          <p style="margin-top: 10px">
            Sub: Submission of Export documents against advance remittance
            received for release of EDF/Shipping Bill/SOFTEX form. <br />
            Bill Amount: <input type="text" /> Tenor: <input type="text" />
          </p>
          <p style="margin-bottom: 0px">
            We enclose herewith the following Export Documents:
          </p>
          <table>
            <tr>
              <td class="wtd4"><b>Documents</b></td>
              <td class="wtd4"><b>Invoice</b></td>
              <td class="wtd4"><b>Transport Doc. (B/L /AWB/ LR)</b></td>
              <td class="wtd4"><b>EDF / S.B. / SOFTEX FORM</b></td>
            </tr>
            <tr>
              <td class="wtd1">Original</td>
              <td class="wtd3"><input type="text" /></td>
              <td class="wtd1"><input type="text" /></td>
              <td class="wtd1"><input type="text" /></td>
            </tr>
            <tr>
              <td class="wtd1">Duplicate</td>
              <td class="wtd3"><input type="text" /></td>
              <td class="wtd1"><input type="text" /></td>
              <td class="wtd10" style="color: white; background: black">
                TO BE SUBMITTED IN <br />
                ORIGINAL ONLY
              </td>
            </tr>
          </table>
          <br />
          <table>
            <tr>
              <td class="wtd11">Inward remittance Reference Number</td>
              <td class="wtd12"><input type="text" /></td>
            </tr>
            <tr>
              <td class="wtd11">Name of the remitter</td>
              <td class="wtd12"><input type="text" /></td>
            </tr>
            <tr>
              <td class="wtd11">EDF / Shipping Bill / SOFTEX Form no.</td>
              <td class="wtd12"><input type="text" /></td>
            </tr>
            <tr>
              <td class="wtd11">Date of Transport Doc. (AWB / BL / LR)</td>
              <td class="wtd12">
                DD
                <input
                  type="text"
                  style="width: 30px; border-bottom: 1px solid black"
                />
                /MM<input
                  type="text"
                  style="width: 30px; border-bottom: 1px solid black"
                />
                /YY
              </td>
            </tr>
            <tr>
              <td class="wtd11">
                ** If the above mentioned documents are being <br />
                submitted after expiry of 21 days from date of shipment, <br />
                than please briefly describe the reason for delay in <br />
                submission of document
              </td>
              <td class="wtd12">
                <textarea id="w3review" name="w3review" rows="4" cols="50">
                </textarea>
              </td>
            </tr>
            <tr>
              <td class="wtd11">
                We are eligible to export the above mentioned goods <br />
                under the current Foreign Trade policy in place and our <br />
                I.E. Code is:
              </td>
              <td class="wtd12">
                I.E. Code no:<input
                  type="text"
                  style="border-bottom: 1px solid black; width: 200px"
                />
              </td>
            </tr>
          </table>
          <p>
            Debit all charges for processing of above-mentioned documents from
            account no. ____________________ with your
            <input
              type="text"
              style="border: none; border-bottom: 1px solid black"
            />
            branch.
          </p>
          <p style="margin-bottom: 0px">
            <b>Declaration – Cum – Undertaking</b>
          </p>
          <p>
            I / We hereby declare that the above transaction does not involve,
            and is not designed for the purpose of any contravention or evasion
            of the provisions of the FEMA 1999 or of any rule, regulation,
            notification, direction or order made there under. I/we hereby
            undertake that goods exported are not banned under EXIM policy. I /
            We also hereby agree and undertake to give such information/
            documents as will reasonably satisfy you about this transaction in
            terms of the above declaration. I/ We also undertake that if I/ We
            refuse to comply with any such requirements or make only
            unsatisfactory compliance therewith, the bank shall refuse in
            writing to undertake the transaction and shall if it has reason to
            believe that any contravention /evasion is contemplated by me /us
            report the matter to Reserve Bank Of India. *I / We further declare
            that the undersigned has/have the authority to give this declaration
            and undertaking on behalf of the firm/company.
            <br />
            <br />
            I/we also declare that the transaction does not have linkage with
            any Specially Designated Nationals and Blocked Persons
            (SDN)/countries listed under OFAC in any manner. If the transaction
            involves linkage with any Specially Designated Nationals and Blocked
            Persons (SDN)/countries listed under OFAC in any manner, I/we
            undertake not to hold YES Bank Limited responsible for any of its
            action or inaction in respect of the OFAC-linked transactions.
            <br />
            <b> Note </b>– Default GST registration details as updated in the
            Bank records will be considered for the said request. In case the
            no. to be considered is different, please notify below.
          </p>
          <p style="margin-bottom: 0px">GSTIN Registration no.</p>
          <table>
            <tr>
              <td>
                <input
                  style="width: 25px; border: none"
                  id="digit1"
                  type="text"
                  maxlength="1"
                  onkeypress="return isNumberKey(event)"
                  onkeyup="moveToNextInputDigit(this)"
                />
              </td>
              <td>
                <input
                  style="width: 25px; border: none"
                  id="digit2"
                  type="text"
                  maxlength="1"
                  onkeypress="return isNumberKey(event)"
                  onkeyup="moveToNextInputDigit(this)"
                />
              </td>
              <td>
                <input
                  style="width: 25px; border: none"
                  id="digit3"
                  type="text"
                  maxlength="1"
                  onkeypress="return isNumberKey(event)"
                  onkeyup="moveToNextInputDigit(this)"
                />
              </td>
              <td>
                <input
                  style="width: 25px; border: none"
                  id="digit4"
                  type="text"
                  maxlength="1"
                  onkeypress="return isNumberKey(event)"
                  onkeyup="moveToNextInputDigit(this)"
                />
              </td>
              <td>
                <input
                  style="width: 25px; border: none"
                  id="digit5"
                  type="text"
                  maxlength="1"
                  onkeypress="return isNumberKey(event)"
                  onkeyup="moveToNextInputDigit(this)"
                />
              </td>
              <td>
                <input
                  style="width: 25px; border: none"
                  id="digit6"
                  type="text"
                  maxlength="1"
                  onkeypress="return isNumberKey(event)"
                  onkeyup="moveToNextInputDigit(this)"
                />
              </td>
              <td>
                <input
                  style="width: 25px; border: none"
                  id="digit7"
                  type="text"
                  maxlength="1"
                  onkeypress="return isNumberKey(event)"
                  onkeyup="moveToNextInputDigit(this)"
                />
              </td>
              <td>
                <input
                  style="width: 25px; border: none"
                  id="digit8"
                  type="text"
                  maxlength="1"
                  onkeypress="return isNumberKey(event)"
                  onkeyup="moveToNextInputDigit(this)"
                />
              </td>
              <td>
                <input
                  style="width: 25px; border: none"
                  id="digit9"
                  type="text"
                  maxlength="1"
                  onkeypress="return isNumberKey(event)"
                  onkeyup="moveToNextInputDigit(this)"
                />
              </td>
              <td>
                <input
                  style="width: 25px; border: none"
                  id="digit10"
                  type="text"
                  maxlength="1"
                  onkeypress="return isNumberKey(event)"
                  onkeyup="moveToNextInputDigit(this)"
                />
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div id="third" class="bc">
        <div
          style="
            float: left;
            display: block;
            width: 78%;
            margin-left: 43px;
            margin-top: 20px;
          "
          class="bc"
        >
          <div style="float: left">
            <p>
              Thanking You <br />
              Warm Regards <br />
              Authorized Signatory <br />
              Company Stamp / Seal
            </p>
          </div>
          <div style="float: right; margin-right: 40px">
            <p>
              Date: <input class="ind" type="text" /> <br />
              Place: <input class="ind" type="text" />
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      style="
        float: left;
        display: block;
        width: 78%;
        margin-top: 40px;
        margin-left: 43px;
      "
    >
      <div title="Share As PDF" (click)="exportAsPDF('MyDIv')">Download</div>
    </div>
  </main>
</div>
