<div class="content-wrap">
    <main id="content" class="content table-padding bc" role="main">


        <div id="mainId" class="bc" *ngIf="!done">
            <div>

                <div style="text-align: right; font-weight: 500;">
                    <p>Annexure- I</p>
                </div>
                <p style="display: table; width: 240px; font-weight: 500;">
                    The Branch Head <br>
                    Axis Bank Ltd.
                    <br />
                    <span style="
                      outline: none;
                        display: inline-block;
                        width: 160px;
                        border-bottom: 1px solid black;
                      " contenteditable="true"></span>
                    <label for="">Branch</label>
                    <br />

                </p>

                <br />
                <div>
                    <div style="text-align: center">
                        <br />
                        <strong style="font-weight: 700">APPLICATION FOR TRADE CREDIT (BUYERS’ / SUPPLIERS’
                            CREDIT)</strong>
                    </div>
                    <div>
                        <p>We request you to arrange the Buyers’ Credit/Suppliers’ Credit for the below mentioned import
                            bill details. The
                            necessary documentary evidence in support of the said purpose are enclosed.</p>
                        <br />
                        <p>
                            1. Details of the loan/credit
                        </p>
                        <table style="text-align: center; margin-left: 30%;">
                            <tr>
                                <td class="wtd4"> <b>Currency</b></td>
                                <td class="wtd4"> <b>Amount</b> </td>
                            </tr>
                            <tr>
                                <td class="wtd4" style="height: 60px;"><span
                                        style="outline: none;display: inline-block; width: 150px;"
                                        contenteditable="true"></span>
                                </td>
                                <td class="wtd4" style="height: 60px;"><span
                                        style="outline: none;display: inline-block; width: 150px;"
                                        contenteditable="true"></span>
                                </td>

                            </tr>

                        </table>

                    </div>
                    <br />
                    <div style="text-align: justify">
                        <p>
                            2. Nature of Trade Credit [Please put (√) in the appropriate box]
                        </p>
                        <p style="margin-left: 20px;">
                            Suppliers’’ Credit<span><input type="checkbox"
                                    style="margin-top: 10px; margin-left: 40px; margin-right: 40px; height: 15px; width: 15px;"
                                    class="check"></span>Buyers’’ Credit<span><input type="checkbox"
                                    style="margin-top: 10px; margin-left: 40px; height: 15px; width: 15px;"
                                    class="check"></span>

                            <br>

                        </p>
                        <p>
                            3. Name and address of the lender/supplier <span style="
                                                                                    display: inline-block;
                                                                                    width: 300px;
                                                                                    outline: none;
                                                                                    border-bottom: 1px solid black;
                                                                                  " contenteditable="true"></span> <br>
                        </p>
                        <p>
                            4. Terms and conditions of the loan <br>

                        </p>
                        <p style="margin-left: 20px;">

                            (i) All-in –cost : <span
                                style="
                                                                                                                                                    display: inline-block;
                                                                                                                                                    width: 300px;
                                                                                                                                                    outline: none;
                                                                                                                                                    border-bottom: 1px solid black;
                                                                                                                                                    "
                                contenteditable="true"></span> <br>
                            (ii) Period of loan:<span
                                style="
                                                                                                                                                    display: inline-block;
                                                                                                                                                    width: 300px;
                                                                                                                                                    outline: none;
                                                                                                                                                    border-bottom: 1px solid black;
                                                                                                                                                    "
                                contenteditable="true"></span> <br>
                            (iii) Repayment terms (half yearly/ annually/bullet):<span style="
                                                                                    display: inline-block;
                                                                                    width: 250px;
                                                                                    outline: none;
                                                                                    border-bottom: 1px solid black;
                                                                                    " contenteditable="true"></span>
                        </p>
                        <p>
                            5. Particulars of commodity (ies) to be imported:
                        </p>
                        <p style="margin-left: 20px;">
                            Description <span
                                style="display: inline-block; width: 100px; outline: none; border-bottom: 1px solid black;"
                                contenteditable="true"></span> ITC (HSN CODE)<span
                                style="display: inline-block; width: 100px; outline: none; border-bottom: 1px solid black;"
                                contenteditable="true"></span>Goods freely importable Y <span><input type="checkbox"
                                    style="margin-top: 10px; margin-left: 10px; margin-right: 20px; height: 15px; width: 15px;"
                                    class="check"></span>X<span><input type="checkbox"
                                    style="margin-top: 10px; margin-left: 10px; height: 15px; width: 15px;"
                                    class="check"></span>
                        </p>
                        <p>
                            6. Nature of Goods [Please put (√) in the appropriate box]
                        </p>
                        <p style="margin-left: 20px;">
                            Capital Goods<span><input type="checkbox"
                                    style="margin-top: 10px; margin-left: 40px; margin-right: 40px; height: 15px; width: 15px;"
                                    class="check"></span>Non-Capital Goodst<span><input type="checkbox"
                                    style="margin-top: 10px; margin-left: 40px; height: 15px; width: 15px;"
                                    class="check"></span>
                        </p>
                        <p>
                            7. Details of imports made
                        </p>
                        <p style="margin-left: 20px;">
                            <b>a) If bill is with Axis Bank</b> <br>
                            Import Bill Reference No <span
                                style="display: inline-block; width: 200px; outline: none; border-bottom: 1px solid black;"
                                contenteditable="true"></span> <br> <br>
                            <b>b) If bill is received directly by the importer</b> <br>
                            We enclose herewith a copy of the Invoice No. <span
                                style="display: inline-block; width: 100px; outline: none; border-bottom: 1px solid black;"
                                contenteditable="true"></span>, B/L / AWB No. <span
                                style="display: inline-block; width: 100px; outline: none; border-bottom: 1px solid black;"
                                contenteditable="true"></span>
                            received by us directly and request you to make payment to the supplier as per below
                            mentioned details:
                        </p>
                        <table style="margin-left: 20px;">
                            <tr>
                                <td class="wtd">Beneficiary Name</td>
                                <td class="wtd1">
                                    <p style="
                                                            display: inline-block;
                                                            
                                                            outline: none;
                                                          " contenteditable="true">

                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="wtd">Beneficiary Address</td>
                                <td class="wtd1">
                                    <p style="
                                                            display: inline-block;
                                                            outline: none;
                                                          " contenteditable="true">

                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="wtd">Beneficiary account no.</td>
                                <td class="wtd1">
                                    <p style="
                                                            display: inline-block;
                                                            outline: none;
                                                          " contenteditable="true">

                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="wtd">Beneficiary Bank Name and Address</td>
                                <td class="wtd1">
                                    <p style="
                                                                                    display: inline-block;
                                                                                    outline: none;
                                                                                  " contenteditable="true">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="wtd">SWIFT code/Sort code/ IBAN</td>
                                <td class="wtd1">
                                    <p style="
                                                                                    display: inline-block;
                                                                                    outline: none;
                                                                                  " contenteditable="true">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="wtd">BCorrespondent/Intermediary Bank Name <br>
                                    and BIC CODE</td>
                                <td class="wtd1">
                                    <p style="
                                                                                                            display: inline-block;
                                                                                                            outline: none;
                                                                                                          "
                                        contenteditable="true">

                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="wtd">Foreign Bank charges</td>
                                <td class="wtd1">
                                    <p style="
                                                                                                            display: inline-block;
                                                                                                            outline: none;
                                                                                                          "
                                        contenteditable="true">

                                    </p>
                                </td>
                            </tr>
                        </table>
                        <p style="margin-left: 20px;">
                            <b>c) If bill is handled by other AD Bank:</b> <br>

                        </p>
                        <p style="margin-left: 40px;">
                            i. Invoice No and Date: <span
                                style="display: inline-block; width: 200px; outline: none; border-bottom: 1px solid black;"
                                contenteditable="true"></span> <br>
                            ii. Payment Terms &amp; Due date of the import bill: <span
                                style="display: inline-block; width: 200px; outline: none; border-bottom: 1px solid black;"
                                contenteditable="true"></span> <br>
                            iii. B/L / AWB No. &amp; Date : <span
                                style="display: inline-block; width: 200px; outline: none; border-bottom: 1px solid black;"
                                contenteditable="true"></span> <br>
                            iv. NOC letter dt<span
                                style="display: inline-block; width: 100px; outline: none; border-bottom: 1px solid black;"
                                contenteditable="true"></span>from <span
                                style="display: inline-block; width: 100px; outline: none; border-bottom: 1px solid black;"
                                contenteditable="true"></span>Bank
                            v. License details (if applicable): <span
                                style="display: inline-block; width: 200px; outline: none; border-bottom: 1px solid black;"
                                contenteditable="true"></span>
                        </p>
                        <p style="margin-left: 20px;">
                            d) BILL OF ENTRY DECLARATION:
                        </p>
                        <p>
                            <b>
                                Imports through EDI Port:
                            </b>
                        </p>
                        <table>
                            <tr>
                                <td style="width: 200px;"> <b>BOE No.</b> </td>
                                <td style="width: 200px;"> <b>BOE Date</b></td>
                                <td style="width: 200px;"> <b>Amount</b> </td>
                                <td class="wtd4"> <b>Invoice No.</b></td>
                            </tr>
                            <tr>
                                <td style="width: 200px;"><span
                                        style="outline: none;display: inline-block; width: 180px;"
                                        contenteditable="true">{{ item2.boeNumber }}</span>
                                </td>
                                <td style="width: 200px;"><span
                                        style="outline: none;display: inline-block; width: 180px;"
                                        contenteditable="true">{{ item2.boeDate }}</span>
                                </td>
                                <td style="width: 200px;"><span
                                        style="outline: none;display: inline-block; width: 180px;"
                                        contenteditable="true">{{ item2.invoiceAmount }}</span></td>
                                <td style="width: 200px;"><span
                                        style="outline: none;display: inline-block; width: 180px;"
                                        contenteditable="true">{{ item2.invoiceNo }}</span></td>

                            </tr>
                            <tr>
                                <td style="width: 200px;"><span
                                        style="outline: none;display: inline-block; width: 180px;"
                                        contenteditable="true"></span>
                                </td>
                                <td style="width: 200px;"><span
                                        style="outline: none;display: inline-block; width: 180px;"
                                        contenteditable="true"></span>
                                </td>
                                <td style="width: 200px;"><span
                                        style="outline: none;display: inline-block; width: 180px;"
                                        contenteditable="true"></span>
                                </td>
                                <td style="width: 200px;"><span
                                        style="outline: none;display: inline-block; width: 180px;"
                                        contenteditable="true"></span>
                                </td>

                            </tr>
                        </table>
                        <p>
                            <b>Imports through Non EDI Port</b> <br>
                            We enclose the Exchange Control Copy of bill of entry/Courier wrapper/ Postal Appraisal
                            Form/ Customs Assessment
                            Certificate as above as an evidence of import of the said goods <br> <br>
                            OR <br> <br>
                            [ ] We hereby undertake that we shall submit the documentary evidence of import (i.e. Bill
                            of Entry for home
                            consumption/
                            courier wrapper/ Postal Appraisal Form/ Customs Assessment Certificate, as applicable )
                            within three months from the
                            date of
                            payment. <br>
                            8. Undertaking and Declarations: <br>
                            (i) The particulars given above are true and correct to the best of our knowledge and
                            belief. <br>
                            (ii) We irrevocably confirm that the credit/loan to be raised will be utilized for the
                            purpose for which it is
                            being applied for vide this application and shall not be utilized for investment in stock
                            market and real
                            estate. <br>
                            (iii) We irrevocably undertake to repay to the Overseas Lender the amount taken as trade
                            credit (inclusive of
                            the principal plus interest plus any other charges) from the foreign bank / supplier on
                            maturity date. <br>
                            (iv) We request Axis Bank Ltd., India to give an undertaking on our behalf to the Overseas
                            Lender and we
                            irrevocably authorise Axis Bank Ltd., India to debit our account <span
                                style="display: inline-block; width: 100px; outline: none; border-bottom: 1px solid black;"
                                contenteditable="true"></span> for the
                            principal plus interest plus any other charges** on the due date if Trade credit is to be
                            paid to the
                            Overseas Lender on our behalf. <br>
                            (v) The goods imported into India are not banned as per Foreign Trade policy. <br>
                            (vi) In case the goods to be imported are capital in nature, we confirm that the goods are
                            capital goods as
                            defined in the Foreign Trade policy issued by DGFT from time to time. <br>
                            (vii) We also confirm that we have not availed any finance against the above said import
                            bill from any
                            Bank/Financial Institution. <br>
                            (viii) We also confirm that the buyer’s credit availed/to be availed is well within a
                            maximum period up to one
                            year (from the date of shipment) and that the period of trade credit is well within the
                            operating cycle of
                            the commodity. <br>
                            (ix) [ ] We enclose the custom stamped Exchange Control Copy of bill of entry/Courier
                            wrapper/ Postal
                            Appraisal Form/ Customs Assessment Certificate no. <span
                                style="display: inline-block; width: 100px; outline: none; border-bottom: 1px solid black;"
                                contenteditable="true"></span>dated <span
                                style="display: inline-block; width: 100px; outline: none; border-bottom: 1px solid black;"
                                contenteditable="true"></span>as an
                            evidence of import of the said goods. OR <br>
                            [ ] We hereby undertake that we shall submit the documentary evidence of import (i.e. Bill
                            of Entry for
                            home consumption/ courier wrapper/ Postal Appraisal Form/ Customs Assessment Certificate, as
                            applicable ) within three months from the date of payment/acceptance of documents. <br>
                            (x) I/We confirm that we are aware of Axis Bank Ltd’s Sanctions Policy Statement and that
                            Axis Bank,
                            including its subsidiaries and affiliates (the “Group”), is firmly committed to complying
                            with all applicable
                            sanctions laws (as imposed by UN, US, UK, EU or any other Government and/or Regulatory
                            authorities)
                            that are legally binding upon the Group and its businesses. <br>
                            (xi)  I/We are further aware that Axis Bank Ltd may be unable to process any transactions
                            that involves or
                            have linkages/reference to any sanctioned countries*/territories*/parties including for
                            cases where
                            transhipment is involved. <br>
                            (xii) I/We confirm that shipment and / or transhipment of goods covered under this
                            transaction shall not
                            involve any sanctioned countries /territories /parties. <br>
                            *Sanctioned Countries and Territories include Cuba, Iran, Syria, North Korea (also known as
                            Democratic
                            People’s Republic of Korea), Crimea and Sevastopol (also known as Crimean Autonomous
                            Republic) and Sectorial Sanctioned Countries and Territories include Russia and Venezuela.
                            <br> <br>
                            <b>The declaration-cum-undertaking under Sec 10(5), Chapter III of FEMA, 1999 is enclosed as
                                under:</b> <br>
                            I/We hereby declare that the transaction details of which are mentioned above does not
                            involve, and is not
                            designed for the purpose of any contravention or evasion of the provisions of the aforesaid
                            Act or of any rule,
                            regulation, notification, direction or order made there under. <br> <br>
                            I/We also understand that if I/we refuse to comply with any such requirement or make only
                            unsatisfactory
                            compliance therewith, the Bank shall refuse in writing to understand the transaction and
                            shall if it has reason
                            to believe that any contravention / evasion is contemplated by me / us report the matter to
                            RBI. <br> <br>
                            I/We also hereby agree and undertake to give such information / documents as will reasonably
                            satisfy you
                            about this transaction in terms of the above declaration. <br> <br>
                            *I/We further declare that the undersigned has the authority to give this application,
                            declaration and undertaking
                            on behalf of the firm/company <br>
                            <b>OFAC Declaration:</b> In this connection, we declare, confirm and undertake that: <br>
                            <br>
                            i) We are aware that <span
                                style="display: inline-block; width: 80px; outline: none; border-bottom: 1px solid black;"
                                contenteditable="true"></span> (name of the country) is an entity against which
                            sanctions
                            by the Office of Foreign
                            Assets
                            (OFAC) of USA is in place. We undertake not to hold Axis Bank Ltd responsible for in any
                            manner whatsoever in nature and
                            hold Axis Bank Ltd fully indemnified against all losses and damages that may be caused to us
                            on account of the funds
                            remitted
                            under this transaction being confiscated or blocked or seized by any
                            authority/government/agency. <br>
                            ii) We further declare that we shall furnish any material information relating to this
                            transaction as required by any
                            authority/government/agency, now or in future. Also we authorize Axis Bank Ltd to make
                            available any of the material
                            information pertains our transaction to any authority/agency/entity without referring the
                            matter to us. <br>
                            <br> <br>
                            **I/We further declare that the undersigned has the authority to give this application,
                            declaration and undertaking on
                            behalf of the
                            firm/company.


                        </p>

                    </div>
                    <div id="third">

                        <div style="float: left; display: block;margin-left: 43px; margin-top: 20px;" class="bc">

                            <div style="float: left;">
                                <p>Thanking you.<br> <br>
                                    Date: <span
                                        style="outline: none;display: inline-block; border-bottom: 1px solid black; width: 100px;"
                                        contenteditable="true"></span> <br>
                                    Place: <span
                                        style="outline: none;display: inline-block; border-bottom: 1px solid black; width: 100px;"
                                        contenteditable="true"></span></p>
                            </div> <br>
                            <div style="float: right; margin-right: 60px;">
                                <p style="margin-left: 30px;text-align: right;">Yours faithfully,</p>
                                <p style="text-align: right;">
                                    <b>(Signature of the Authorised Official of Applicant)</b><br>
                                    Name: <span
                                        style="outline: none;display: inline-block; border-bottom: 1px solid black; width: 100px;"
                                        contenteditable="true"></span> <br>
                                    Address: <span
                                        style="outline: none;display: inline-block; border-bottom: 1px solid black; width: 100px;"
                                        contenteditable="true"></span> <br>
                                    I.E.Code: <span
                                        style="outline: none;display: inline-block; border-bottom: 1px solid black; width: 100px;"
                                        contenteditable="true"></span>

                                </p>
                            </div>
                            <div style="margin-top: 160px;">

                                *Applicable when the application /declaration /undertaking is signed on behalf of the
                                firm / company <br>
                                **We agree for levy of charges as per the schedule of charges of the bank (displayed on
                                the bank’s website: <br>
                                www.axisbank.com) or as per the specific pricing approval/sanction, if any.
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br> <br>
        <div *ngIf="!done" style="
          float: left;
          display: block;
          width: 78%;
          margin-top: 40px;
          margin-left: 43px;
        ">
            <div class="button1" title="Share As PDF" (click)="exportAsPDF('MyDIv')">Proceed to Preview</div>
        </div>


        <div *ngIf="done">
            <p>Setup: 3 Preview</p>
            <button class="button1" style="margin-right: 10px;" (click)="downloadPDF()">Download</button>
            <button class="button1" style="margin-bottom: 40px;">Send it via Email</button>
            <div>
                <iframe [src]="data6" height="500px" width="400px"></iframe>
            </div><br>
            <button class="button1" style="margin-right: 10px;" (click)="edit()">Edit</button>
            <button class="button1" style="margin-right: 10px;" (click)="submitTask()">Done</button>

        </div>

    </main>
</div>